# Server Configuration
PORT=5001
MONGO_URI=mongodb://localhost:27017/clonetube
# Generate a secure JWT_SECRET using:
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET=generate_your_own_secure_key_getTheKeyByUsingTheCodeAbove
